# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Vercel
.vercel

# Node
/node_modules
npm-debug.log
yarn-error.log
/Back-API/node_modules
.env

# Angular
Front-UI/.angular
Front-UI/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


